@page
@model LibraryWeb.Pages.BorrowBooks.IndexModel
@{
    ViewData["Title"] = "Borrow Books";
}

<h2>Borrow Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.AvailableBooks)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Quantity</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <button type="submit" class="btn btn-primary">Borrow</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
